/* HomePage.module.css */

.backgroundContainer {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh; /* Full screen height */
    width: 100vw;  /* Full screen width */
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent overlay */
    z-index: 1;
}

.overlay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust height */
    background-color: white; /* Or use a matching background */
    z-index: 2;
}



.contentContainer {
    position: relative;
    z-index: 2; /* Content in front of the overlay */
    color: black; /* Ensure text is visible */
}

